<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Administration du Site</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="test.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mt-5">
      <header class="row text-center">
        <h1>Administration du Site</h1>
      </header>

      <nav
        class="nav nav-pills navbar-expand-lg navbar-light bg-light mt-2 mb-2"
      >
        <a class="nav-item nav-link mx-2" href="accueil_administrateur.html"
          >Accueil</a
        >
        <a class="nav-item nav-link mx-2" href="gestion_utilisateurs.html"
          >Gestion des utilisateurs</a
        >
        <a
          class="nav-item nav-link active mx-2"
          href="gestion_organisations.html"
          >Gestion des organisations</a
        >
        <a class="nav-item nav-link mx-2" href="gestion_recruteurs.html"
          >Gestion des recruteurs</a
        >
      </nav>

      <div class="row">
        <main class="col-sm-12">
          <h1>Validation des organisations</h1>
          <table class="table">
            <thead>
              <tr>
                <th>SIRET</th>
                <th>Nom</th>
                <th>Type</th>
                <th>Siege Social</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% for (let i = 0; i < organizations.length; i++) { %>
              <tr>
                <td><%= organizations[i].siret %></td>
                <td><%= organizations[i].nom %></td>
                <td><%= organizations[i].type %></td>
                <td><%= organizations[i].siege_social %></td>
                <td>
                  <a
                    href="/valider-organisation/<%= organizations[i].id %>"
                    class="btn btn-primary"
                    >Valider</a
                  >
                  <a
                    href="/refuser-organisation/<%= organizations[i].id %>"
                    class="btn btn-danger"
                    >Refuser</a
                  >
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
          <ul class="pagination">
            <!-- Pagination logic here if needed -->
          </ul>
        </main>
      </div>
    </div>

    <footer></footer>
  </body>
</html>
